APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:14BRlbhMJAdwYI6kShXT5sS3lZe6mqKCL4TSc1jf85I=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=asknt
DB_USERNAME=asknt
DB_PASSWORD=asknt

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LDAP_HOSTS=ms-dcs.cherkizovsky.net
LDAP_BASE_DN=DC=cherkizovsky,DC=net
LDAP_USERNAME=Tech_Wialon_AD
LDAP_PASSWORD=N2&d6k1zvS%91

SHIPMENT_STATUS_LOGIN=avantern
SHIPMENT_STATUS_PASSWORD==+V$Oqjy&1

HOSTING_WIALON_TOKEN=752dbc1700b13e297ce789f1faa100e2C97702C9DD8361EBB1AD297E4BDC503EC19CF195
LOCAL_WIALON_TOKEN=c6aa8d75597de473ae6704fbbd31abe42865DC96D5A1B6BFC5D13EE9E3BD0867E92AA8D3

# build
PHP_VERSION='7.4'
BUILD_GIT_BRANCH=develop
